@font-face {
    font-family: 'main-font';
    src: url(./IRANSansWeb.ttf);
    font-display: swap;
}
@font-face {
    font-family: "nastaliq";
    src: url(./IranNastaliq.ttf);
    font-display: swap;
}
@font-face{
    font-family: "yekan-bakh";
    src: url(./Yekan-Bakh-Fa-04-Regular.ttf);
    font-display: swap;
}