$mainColor : #185494;
$redColor : #DB242A;
$black : #000;
$backGround : #fafafa;
$grayColor : #f4f4f4;
$yellowColor : #FAAF18;
$transition : all ease-in-out .3s;
$gradientColor : linear-gradient(-90deg, rgba(238, 29, 35, 0.85) 10%, rgba(233, 0, 76, 0.85) 14.29%, rgba(217, 0, 109, 0.85) 28.57%, rgba(191, 35, 136, 0.85) 42.86%, rgba(156, 59, 154, 0.85) 57.14%, rgba(117, 73, 162, 0.85) 71.43%, rgba(74, 81, 159, 0.85) 75.71%, rgba(24, 84, 148, 0.85) 100%);
$boxShadow : 2px 4px 4px rgba(0, 0, 0, 0.15);